<h2 class="page-header">Add New Book</h2>
<form action="/books" method="POST" >
<%- include('../books/_form_field.ejs')%>
<a class="btn" href="/">Cancel</a>
<button class="btn btn-primary" type="submit">Add Book</button>
</form>