@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Raleway&display=swap');
@import '/public/stylesheets/shared/variables.css';
@import '/public//stylesheets/shared/header.css';
@import '/public/stylesheets/shared/buttons.css';
@import '/public/stylesheets/shared/form.css';
@import '/public/stylesheets/shared/image.css';
@import '/public/stylesheets/shared/book.css';

:root {
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: var(--color-background-gradient);
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 1rem;
}

.header-nav ul {
    cursor: pointer;
 }

 .page-header {
     font-size: 2.5rem;
     text-align: center;
 }

 .btn {
    font-family:'Montserrat', sans-serif;
 }
 .filepond {
   width: 200px;

   border-style: solid;
   border-color: white;
   border-radius: 1rem;
 }
 


