<h2>Edit Authors Page</h2>

<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
<%- include('_form_field.ejs')%>

<a class="btn " href="/authors">Cancel</a>
<button class="btn btn-primary"   type="submit"> Update Author</button>
</form>