<!-- <h2>Add New Author</h2>
<form action="/authors" method="POST">

 
    <a href="/authors">Cancel</a>
    <button type="submit">Add Author</button>
</form> -->

<h2 class="page-header">New Authors Page</h2>

<form action="/authors" method="POST">

        <%- include('../authors/_form_field.ejs')%>
        <div class="btn-row form-end">
        <a class="btn" href="/authors">Cancel</a>
        <button class="btn btn-primary" type="submit"> Add Author</button>
        </div>
        

</form>